<div class="row">
    <div class="col">
        <div class="card mb-3"   *ngIf="instructor">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3>Edit Instructor</h3>
                    </div> 
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">                        
                        <form [formGroup]="instructorForm" (ngSubmit)="save()" novalidate>
                          <div>                                                                  
                            <div class="form-group row">
                                <label class="control-label col-3" for="#title">Title:</label>
                                <div class="col-9">
                                    <select class="form-control" formControlName="title" placeholder="Select Title" required>
                                      <option value="" disabled selected>Select Title</option>
                                      <option *ngFor="let title of titles" [value]="title">{{title}}</option>
                                    </select>
                                   <div *ngIf="instructorForm.controls.title.invalid && (instructorForm.controls.title.dirty || instructorForm.controls.title.touched)"
                                        class="alert alert-danger">
                                      <div *ngIf="instructorForm.controls.title.errors.required">
                                        Title is mandatory.
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3" for="#firstName">First Name:</label>
                                <div class="col-9">
                                    <input class="form-control" formControlName="firstName"  placeholder="Enter First Name" required>
                                     <div *ngIf="instructorForm.controls['firstName'].invalid && (instructorForm.controls['firstName'].dirty || instructorForm.controls['firstName'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="instructorForm.controls['firstName'].errors.required">
                                            Name is mandatory.
                                        </div>
                                        <div *ngIf="instructorForm.controls['firstName'].errors.minlength">
                                            please enter a Name with at least 2 characters.
                                        </div>                                       
                                    </div>                                        
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3" for="#reference">Last Name:</label>
                                <div class="col-9">
                                    <input formControlName="lastName" class="form-control" placeholder="Enter Last Name" required>
                                     <div *ngIf="instructorForm.controls['lastName'].invalid && (instructorForm.controls['lastName'].dirty || instructorForm.controls['lastName'].touched)"
                                        class="alert alert-danger">
                                      <div *ngIf="instructorForm.controls.lastName.errors.required">
                                        Last Name is required.
                                      </div>
                                       <div *ngIf="instructorForm.controls.lastName.errors.minlength">
                                        Last Name must be at least 2 characters long.
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3" for="#email">Email:</label>
                                <div class="col-9">
                                    <input formControlName="email" class="form-control" placeholder="Enter Email" required>
                                    <div *ngIf="instructorForm.controls['email'].invalid && (instructorForm.controls['email'].dirty || instructorForm.controls['email'].touched)"
                                        class="alert alert-danger">
                                      <div *ngIf="instructorForm.controls.email.errors.required">
                                        Email is required.
                                      </div>
                                       <div *ngIf="instructorForm.controls.email.errors.pattern">
                                        Invalid Email.
                                      </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label class="control-label col-3" for="#phone">Phone:</label>
                                <div class="col-9">
                                    <input formControlName="phone" class="form-control" placeholder="Enter Phone" required>
                                    <div *ngIf="instructorForm.controls['phone'].invalid && (instructorForm.controls['phone'].dirty || instructorForm.controls['phone'].touched)"
                                        class="alert alert-danger">
                                      <div *ngIf="instructorForm.controls.phone.errors.required">
                                        Phone is required.
                                      </div>
                                       <div *ngIf="instructorForm.controls.phone.errors.pattern">
                                        Invalid Phone
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="address">
                              <div class="form-group row">
                                    <label class="control-label col-12" for="line1">Address:</label>                                    
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3" for="line1">First Line:</label>
                                    <div class="col-9">
                                        <input id="line1" formControlName="line1" class="form-control" placeholder="Enter first line of address"  required>
                                         <div *ngIf="instructorForm.controls['address'].controls['line1'].invalid && (instructorForm.controls['address'].controls['line1'].dirty || instructorForm.controls['address'].controls['line1'].touched)"
                                        class="alert alert-danger">
                                      <div *ngIf="instructorForm.controls['address'].controls.line1.errors.required">
                                        First Line of Address is required.
                                      </div>
                                       <div *ngIf="instructorForm.controls['address'].controls.line1.errors.minlength">
                                        First Line of Address be at least 2 characters long.
                                      </div>
                                    </div>
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label class="control-label col-3" for="city">City:</label>
                                    <div class="col-9">
                                        <input id="city" formControlName="city" class="form-control" placeholder="Enter instructor city">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3" for="county">County:</label>
                                    <div class="col-9">
                                        <input id="county" formControlName="county" class="form-control" placeholder="Enter instructor county">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3" for="postcode">Postcode:</label>
                                    <div class="col-9">
                                        <input id="postcode" formControlName="postcode" class="form-control" placeholder="Enter instructor postcode" required>
                                        <div *ngIf="instructorForm.controls['address'].controls['postcode'].invalid && (instructorForm.controls['address'].controls['postcode'].dirty || instructorForm.controls['address'].controls['postcode'].touched)"
                                        class="alert alert-danger">
                                            <div *ngIf="instructorForm.controls['address'].controls['postcode'].errors.required">
                                                Postcode is mandatory.
                                            </div>
                                            <div *ngIf="instructorForm.controls['address'].controls['postcode'].hasError('pattern')">
                                                please enter a valid Postcode.
                                            </div>                                       
                                        </div>
                                    </div>
                                </div> 
                            </div>   
                          </div>
                          <div class="form-group row">
                            <div class="col text-right">
                                <button class="btn btn-outline-primary" type="submit" [disabled]="instructorForm.invalid" [title] = "instructorForm.invalid ? 'Save button is disabled because Form is incomplete.' : 'Click to Save'">
                                      Save
                                  </button>
                                  <button (click)="goBack()" class="btn btn-outline-dark" type="button">Back</button>
                            </div> 
                          </div>
                        </form>

                        <p>instructorForm value: {{ instructorForm.value | json}}</p>                        
                    </div> 
                    <div class="col-3">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
