<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/dashboard">Home</a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/students">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/seminars">Seminars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/colleges">Colleges</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/instructors">Instructors</a>
    </li>     
    <li class="nav-item">
      <a class="nav-link" routerLink="/venues">Venues</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/halls">Halls</a>
    </li>     
     <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" routerLink="/eventlog">Event Log</a>
    </li>    
  </ul>

   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <router-outlet></router-outlet> 
    </div>
    <div class="col-1"></div>
  </div>   
</div> 


