<div class="row">
    <div class="col">
        <div class="card mb-3"   *ngIf="student">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3>Edit Student</h3>
                    </div> 
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">                        
                        <form [formGroup]="studentForm" (ngSubmit)="save()" novalidate>                                  
                                   
                          <div>
                            <h4>Basic Details:</h4>                                                                         
                            <div class="form-group row">
                                <label class="control-label col-2" for="#title">Title:</label>
                                <div class="col-10">
                                    <select class="form-control" formControlName="title" placeholder="Select Title" required>
                                      <option *ngFor="let title of titles" [value]="title">{{title}}</option>
                                    </select>
                                    <div *ngIf="studentForm.controls.title.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.title.errors.required">
                                        Title is required.
                                      </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-2" for="#firstName">First Name:</label>
                                <div class="col-10">
                                    <input class="form-control" formControlName="firstName"  placeholder="Enter First Name" required>
                                    <div *ngIf="studentForm.controls.firstName.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.firstName.errors.required">
                                        First Name is required.
                                      </small>
                                       <small *ngIf="studentForm.controls.firstName.errors.minlength">
                                        First Name must be at least 2 characters long.
                                      </small>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-2" for="#reference">Last Name:</label>
                                <div class="col-10">
                                    <input formControlName="lastName" class="form-control" placeholder="Enter Last Name" required>
                                    <div *ngIf="studentForm.controls.lastName.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.lastName.errors.required">
                                        Last Name is required.
                                      </small>
                                       <small *ngIf="studentForm.controls.lastName.errors.minlength">
                                        Last Name must be at least 2 characters long.
                                      </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-2" for="#email">Email:</label>
                                <div class="col-10">
                                    <input formControlName="email" class="form-control" placeholder="Enter Email" required>
                                    <div *ngIf="studentForm.controls.email.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.email.errors.required">
                                        Email is required.
                                      </small>
                                       <small *ngIf="studentForm.controls.email.errors.pattern">
                                        Invalid Email.
                                      </small>
                                    </div>
                                </div>
                            </div>  
                          </div>

                          <div formArrayName="addressList">
                            <h4>Address Details:</h4>
                            <div *ngFor="let address of addressList.controls; let i=index" [formGroupName]="i"  class="panel panel-default">
                             
                              <div class="panel-heading">
                                <span>Address #{{i + 1}}</span>
                                <button type="button" class="close float-right" aria-label="Close"*ngIf="addressList.controls.length > 1" (click)="removeAddress(i)">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="panel-body">
                                <app-address [addressGroup]="studentForm.controls.addressList.controls[i]"></app-address>    
                              </div>
                            </div>

                            <div class="form-group row"> 
                              <div class="col text-right">
                                <button type="button" (click)="addAddress()" class="btn btn-outline-primary">Add new Address</button> 
                              </div> 
                            </div>  
                          </div>

                          <div formArrayName="phoneList">
                            <h4>Phone Details:</h4>
                            <div *ngFor="let phone of phoneList.controls; let i=index" [formGroupName]="i"  class="panel panel-default">
                             
                              <div class="panel-heading">
                                      <span>Phone #{{i + 1}}</span>
                                      <button type="button" class="close float-right" aria-label="Close" *ngIf="phoneList.controls.length > 1" (click)="removePhone(i)">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                              <div class="panel-body">
                                  <app-phone [phoneGroup]="studentForm.controls.phoneList.controls[i]"></app-phone>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col text-right">
                                <button (click)="addPhone()" type="button" class="btn btn-outline-primary">Add new Phone</button>
                              </div> 
                            </div>    

                          </div>                                    

                            <div>
                            <h4>Other Details:</h4>                                     
                                                                                                  
                            <div class="form-group row radio">
                                <label class="control-label col-2" for="#level"><b>Level:</b></label>
                                <div class="col-10">
                                    <label class="center-block"><input type="radio" formControlName="level" value="basic">Basic</label>
                                    <label class="center-block"><input type="radio" formControlName="level" value="intermediate">Intermediate</label>
                                    <label class="center-block"><input type="radio" formControlName="level" value="advanced">Advanced</label>
                                    <div *ngIf="studentForm.controls.level.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.level.errors.required">
                                        Level is required.
                                      </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-2" for="#agreedTerms">Terms:</label>
                                <div class="col-10 checkbox">
                                    <label class="center-block">
                                      <input type="checkbox" formControlName="agreedTerms">I agree terms.
                                    </label>
                                     <div *ngIf="studentForm.controls.agreedTerms.invalid" class="text-danger">
                                      <small *ngIf="studentForm.controls.agreedTerms.errors.required">
                                        Terms is required.
                                      </small>
                                    </div>                                      
                                </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col text-right">
                                <button class="btn btn-outline-primary" type="submit" [disabled]="studentForm.invalid" [title] = "studentForm.invalid ? 'Save button is disabled because Form is incomplete.' : 'Click to Save'">
                                      Save
                                  </button>
                                  <button (click)="goBack()" class="btn btn-outline-dark" type="button">Back</button>
                            </div> 
                          </div>
                        </form>

                        <p>studentForm value: {{ studentForm.value | json}}</p>                        
                    </div> 
                    <div class="col-3">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>