<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-10  text-left">
                        <h3>Hall List</h3>
                    </div>  
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-outline-primary" (click)="gotoAdd()">Create New</button>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="table-info">           
                        <th>Name</th>
                        <th>Number</th>
                        <th>Reference</th>
                        <th>Capacity</th>
                        <th>Status</th>
                        <th>Phone</th>
                        <th>Email</th>           
                        <th>Address</th>
                        <th>Postcode</th>
                        <th></th>
                        <th></th>
                        <th></th>                
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let hall of halls">
                        <td  (click)="onSelect(hall)">{{hall.name}}</td>                        
                        <td>{{hall.number}}</td>
                        <td>{{hall.reference}}</td>
                        <td>{{hall.capacity}}</td>
                        <td>{{hall.status}}</td>
                        <td>{{hall.phone}}</td>
                        <td>{{hall.email}}</td>
                        <td>{{hall.line1}}</td>
                        <td>{{hall.postcode}}</td>
                        <td><button class="btn btn-primary btn-sm" (click)="gotoEdit(hall)" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                        <td><button class="btn btn-info btn-sm" (click)="gotoView(hall)" data-toggle="tooltip" data-placement="top" title="Info"><i class="fa fa-info"></i></button></td>
                        <td><button class="btn btn-danger btn-sm"  (click)="onDelete(hall)" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                    </tr>       
                    </tbody>
                </table>
            </div>
        </div>

         <div *ngIf="detailsSelected" class="card mb-3 bg-light">
            <div class="card-header"> Hall: {{selectedHall.name | uppercase}} details</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-left">
                        {{selectedHall.description}}
                    </div>
                    <div class="col-12 text-right">
                        <button (click)="gotoDetail()" class="btn btn-outline-info">
                                        View more details
                        </button>
                        <button class="btn btn-outline-dark" (click)="gotoClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="deleteSelected" class="card mb-3 bg-light">
            <div class="card-header">
                Plese confirm to delete selected hall: {{selectedHall.name | uppercase}} - <button class="btn btn-danger" (click)="delete(); $event.stopPropagation()">Confirm</button> 
                <button class="btn btn-outline-dark" (click)="gotoCloseDel()">Close</button>
            </div>                   
        </div>
    </div>
</div>

